


@media screen and (min-width: 960px){

 
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Signika&display=swap');

/* balises generiques*/
body,header
{
 margin:0 ;
 height: auto;
}
h1{
    margin: 0;
}
label{
    display: none;
}
h2 > .demarche
{
padding: top 20px;
font-family: 'Signika', sans-serif;
font-size: 2rem;
}

h2 > .logonoir{
    width: 200px;
    height: 100px;
}

.titre1
{
padding : 25px 0 ;
display: block;
text-transform: uppercase;
font-size: 2rem;
}

.marge_section
{
padding: 1px 200px;
}
a{
    text-transform: uppercase;
}
ul > .media{
    display: block;
}
p 
{
 font-family: 'Open Sans', sans-serif;
 font-size: 1rem;  
 overflow: hidden !important;
}

#boutique, #contact
{
background-color:#d0dbcf ; 
padding-bottom: 50px; 
}

#matiere, #collection, footer 
{
background-color: #a68f77 ;
padding-bottom: 50px;   
padding-top: 10px;
}

.wraps 
{
 display: flex; 
 flex-wrap: nowrap; 
 justify-content: space-between;
}
#Matière{
     background-color: #a68f77;
}
.wrap{
    width: 75%;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10%;
}

#Matière > .titre1{
    font-size: 2rem;
    margin: 3% 15%;
}

/*header &navbar*/

.navbar
{
background-color: #a68f77 ;
display: flex;
justify-content: flex-end;  
width: 100%;
height: 100px;
}

.nav_ul, .herder
{

display: flex;
justify-content: center;
align-items: row;
margin-right: 10%;
padding: 20px 0;
list-style: none;
background: none;
top: 0;
left: 0;
position: relative;
margin: 1rem 10% 1rem 0;
}

.media a, .media2 a
{
font-family:'Signika', sans-serif; 
text-decoration: none;
font-size: 1rem;
color: black;
padding:35px 10px;
}

.media a:hover
{
font-family:'Signika', sans-serif; 
text-decoration: none;
font-size: 16px;
background-color:rgba(102, 136, 96, 0.6);
padding:45px 10px;
height: 100%;
}

#burger, .none
{
display: none;
}

#logo_blanc
{
background: url("../img/logoblanc.png") no-repeat;
position: absolute;
left:0px;
width: 200px;
height: 100%;
margin: 0;
}
/*vue du magasin*/
.background_mag
{
margin-bottom: -10px;
}
.imagemagasin
{
width: 100%;
height: 650px;  
}

 

  


/*section de presentation de la boutique*/

.ethique
{

vertical-align:-30px;
}

#boutique > .p_media{
    margin-top: 15% !important;
}

#boutique > .p_media, .collec
{
 max-width: 688px;
 line-height: 3; 
 font-size: 16px;
 text-align: justify;
 height: auto;
 margin-top: 10%;
}
.signature
{
color:rgb(102, 136, 96);
font-weight: bold;
font-size: 18px;
margin-left:350px ;
} 

.lucasimg{
    height: 80%;
    width: auto;
    margin: 10% 0 5% 5%;
}

/*section de presentation des matériaux*/
.matiere1
{
display:flex;    
margin:5% 0;
justify-content: space-between;
font-size: 14px;
text-align: justify;
width:260px;

}

/*section de mappemonde*/
#map
{
background-color:#96b18e;
padding: 0;
margin: 0;
}

.background_map, .mappemonde
{
background: url("../img/map.png")no-repeat center; 
height: 500px;
background-size: contain;
}

/*section de slide de collection*/
 #collection
 {
height: 400px;
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
padding-bottom: 50px;
width: auto;
 }

.photo_collec
{
padding-top: 50px;
width: 30%;
height: 80%;
}

.slide{
    width: auto;
    height: 100%;
}
.titrecollection{
    position: absolute;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 1% 10% 0 0;
}
.text_collec
{
padding-top: 15px;
text-align: justify;

}
.hide
{
display: none;
}
.hide_media{
    display: none;
}

/* section de contact et coordonnées*/
#contact
{
width: 100vw;
padding:  0;
display: flex;
justify-content: space-between;
}

.logo_adresse
{ 
margin-left: 30%;  
padding-top: 10%;
}

.adresse, .button
{   
text-align: center;
padding: 0 25% ;
}
.contact{
    font-size: 1rem;
}
.mail
{
text-decoration: none;
color:#654723
}
.devanture
{
width: 460px;

}
.reseaux_sociaux
{
display: flex;
justify-content: space-between;
width: 150px;
padding:0;
margin: 5% 0;
}

#contenu_contact > .button{
    margin-top: 15%;
}
.reseaux
{
height: 40px;
}
.collection > .collec{
    font-size: 1rem;
    margin: 0 10%;
}
/*footer*/
.navfoot
{
display: flex;
justify-content:center;  
}

.navfoot .nav_ul
{
  width: 65%;
  margin: 0;  
  display:flex;
  justify-content:space-around;
}
.media2 a
{
width: 30%;
padding: 0;
    }

.media2{
    margin: 0 5%;
}

footer > .nav_ul{
    width: 100%;
    margin: 1% 1%;
}


.article_img{
    width: 30%;
    display: block !important;
}
#contact{
    width: 100%;
}

.devanture{
    display: block;
    margin: 0;
}

.map{
    position: absolute;
}

.map > img{
    width: 30% !important;
    margin-right: 5% !important;
    margin-bottom: 60%!important;
}    
     
        

    }